body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #282c34;
    color: rgb(166, 42, 182);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    max-width: 400px;
    margin: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #282c34;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    .product {
        max-width: 90%;
    }
}

@media only screen and (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .product {
        margin: 10px;
    }
}
